@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.font-noto {
  font-family: "Noto Serif", serif;
}

body {
  max-width: 1140px;
  margin: 0 auto;
}

.primary-color {
  color: #e95a08;
}

.trusted-img {
  animation-duration: 10s;
}
